@page "/works/list"
@using CarMechanic.Shared
@using CarMechanic.UI.Services
@inject IWorkService WorkService

<h3>WorkList</h3>

@if (Works is null)
{
    <p>Loading..</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Rendszám</th>
                <th>Gyártási év</th>
                <th>Munka kategória</th>
                <th>Súlyosság</th>
                <th>Munka állapota</th>
                <th>Munka óra esztimáció</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var work in Works)
            {
                <tr>
                    <td>@work.Rendszam</td>
                    <td>@work.GyartasiEv</td>
                    <td>@work.Kategoria</td>
                    <td>@work.HibaSulyossag</td>
                    <td>@work.Allapot</td>
                    <td>@work.BecsultOra</td>
                    <td><a href="work/list/@work.MunkaId" class="btn btn-primary">Részletes Adatok</a></td>
                </tr>
            }
        </tbody>
    </table> 
}

@code {
    private IEnumerable<Work>? Works { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Works = await WorkService.GetAllWorksAsync();
    }
}